<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p>안녕하세요. Login구현창입니다.</p>
  <form action="/" method="post">
      <div class="form-group" padding-bottom = "50px">
          <label for="name">이름</label>
          <input type="text" id="name" name="name" placeholder="이름을입력하세요">
          <label for="passwd">Password</label>
          <input type="password" id="passwd" name="passwd" placeholder="비밀번호를입력하세요">
          <button type="submit">로그인</button>
      </div>
  </form>
  <a href="new">회원가입</a>
  <a href="users">회원목록</a>
    <a href="log">주문로그조회</a>
</body>
</html>