<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="container">
    <div id="header"><h1>Store!</h1></div>
    <div id="main"><h1>Products</h1></div>

    <form action="/product" method="post">
        <div class="form-group">
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="상품명을입력하세요">
        </div>
        <button type="submit">구매</button>
    </form>
    <ul>
        <li>product A</li>
        <li>product B</li>
        <li>product C</li>
    </ul>
</div>
</body>
</html>